body {
  font-family: 'Source Sans Pro', sans-serif !important;
  background-color: #6EB4DC !important;
  color: white !important;
}

.true, .false {
  font-size: 30px;
}

.card-container {
  width: 80%;
  height: 43rem;
  margin-top: 1rem;

}

.well {
  background: #13415D !important;
  border: none !important;

  .submit-copy {
    margin-top: 29%;

  }
  .score {
    margin-top: 29%;
    font-size: 30px;
  }
}

.stack {
  li {
    width: 230px;
    height: 320px;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 13%;
    left: 23%;
    box-shadow: 0 0 2px rgba(83, 90, 93, 0.2), 1px 1px 1px rgba(83, 90, 93, 0.2);
    line-height: 300px;
    text-align: center;
    border: 10px solid #fff;
    box-sizing: border-box;
    cursor: default;
    list-style-position: inside;
  }
}

.btn {
  position: absolute;
  top: 45%;
  left: 35%;
}

li pre {
  font-family: 'Source Sans Pro', sans-serif !important;
  background: #fff;
  border: none;
  color: #808c90;
  font-size: 23px;
  margin-top: 30%;
  padding: 10;
}


.blurb{
  width: 100%;
  p {
   margin-right: 5%;
  }
}

.navbar {
  background-color: #6EB4DC !important;
  border: none !important;
  p{
    color: white !important;

    .glyphicon {
      color: red;
    }
  }
}
